<% content_for(:title, 'bonobo 経営を平和に、サブスク法務と。') %>

<section id="firstSec" class="panel zom firstSec">
  <div>
    <p class="firstSecP1">35,000回。</p>
    <p class="firstSecP2">人が1日にする「決断」の数。</p>
  </div>
  <i class="btn-scroll">scroll</i>
</section>

<section id="secondSec" class="panel zom secondSec">
  <div class="box">
    <p class="secondSecP1 moji">解き放て。</p>
    <p class="secondSecP2"><span class="p2_1">不安や恐れは、日々の「決断」を濁らせる。</span><br><span class="p2_2">私たちは日本社会を担う経営者を、<br class="sp"><span class="p2_2_2">法的な不安から解放し、</span></span><br><span class="p2_3">経営を前進させる「決断」を支えていく。</span></p>
  </div>
</section>
<div class="bg secondSec_bg"></div>
<div class="bg secondSec_bg2"></div>

<section id="thirdSec" class="panel zom">
  <div class="box">
    <p class="thirdSecP1">日本全体の経営を<br>前進させるサービスをつくる。</p>
    <p class="thirdSecP2">「トラブルがおきてから補償する」<br>という保険の概念を変える。</p>
  <div>
</section>
<div class="thirdSec_bg"></div>

<section id="fourthSec" class="panel zom dark-section">
  <p class="fourthSecP1">私たちがたどり着いた      <br>新しい保険のかたち。</p>
</section>

<div class="body_scroll">
<section id="fifthSec" class="zom">
  <div class="box">
    <img class="fifthSeclogo" src="/img/img_logo_fifth.svg" alt="">
    <p class="fifthSecP1">　経営を平和に、サブスク法務と。</p>
  </div>
  <div class="bg fifthSec_bg"></div>
</section>

<section id="sixthSec" class="zom dark-section">
  <p class="sixthSecP1 move_normal">トラブルのない世界をつくる<br>意思決定を止めないために<br>経営スピードを落とさないために<br><br>法の不安から解放された世界を<br>サブスク法務とともにつくっていく</p>
</section>

<section id="seventhSec" class="zom dark-section">
  <div class="bg"></div>
  <div class="box move_normal">
    <h2>サブスク法務<img src="/img/img_logo_black.svg" alt="bonobo">とは？</h2>
    <p>トラブルが<br class="sp">「起こる前」も「起こった後」も<br class="sp">あなたに寄り添う、<br>サブスク法務サービス付きの<br class="sp">弁護士費用保険です。</p>
    <img src="/img/img_seventh.svg" alt="">
  <div>
</section>

<section id="eighthSec" class="zom dark-section">
  <div class="bg"></div>
  <div class="box move_normal">
    <h2>身近に潜む事業リスク</h2>
    <p>時代とともに変化し続ける事業リスクへの<br class="sp">対応は非常に難しく、<br>トラブルの際には、大きな経済的・時間的<br class="sp">負担が発生してしまいます。</p>
    <img src="/img/img_eighth.svg" alt="">
  <div>
</section>

<section id="top-feature" class="dark-section">
  <section class="inner">
    <h2 class="top-header zom move_normal"><img src="/img/img_logo_white.svg" alt="bonobo">が選ばれる理由<span class="font-tenor">1.</span></h2>
    <p class="move_normal">複雑な法務処理と<br class="sp">事件解決をフルサポート</p>
    <div class="point0 point move_normal">
      <p>日頃から使える法務サービスと、<br class="sp">トラブル時の弁護士費用実額補償により、<br>経営リスクを軽減し迅速な意思決定をサポート。</p>
      <div class="content">
        <ul>
          <li><img src="/img/img_feature_content0_1.svg" alt=""></li>
          <li><img src="/img/img_feature_content1_1.svg" alt=""></li>
        </ul>
      </div>
    </div>

    <h2 class="top-header zom move_normal"><img src="/img/img_logo_white.svg" alt="bonobo">が選ばれる理由<span class="font-tenor">2.</span></h2>
    <p class="move_normal">日本最大級のリーガルメディアを<br class="sp">運営する<ruby>ASiRO<rt>アシロ</rt></ruby>グループが提供</p>
    <div class="point1 point move_normal">
      <p>法律業務のお困りごとに関する知見、<br>弁護士との広範なネットワークを保有しており、<br class="sp">最適な解決策を提供します。</p>
      <img src="/img/img_feature.svg" alt="" class="feature-img">
    </div>

    <h2 class="top-header zom move_normal"><img src="/img/img_logo_white.svg" alt="bonobo">が選ばれる理由<span class="font-tenor">3.</span></h2>
    <p class="move_normal">シンプルなプラン設計</p>
    <div class="point2 point move_normal">
      <p>徹底してお客様に寄り添い、<br>お求めやすくシンプルなプラン設計を実現。</p>

      <div class="plan business">
        <h4><i><img src="/img/icon_business.svg" alt=""></i>法人の方</h4>
      </div>

      <ul class="tab-menu">
        <li class="tab-btn tab-btn0 active" data-tab="a">10名未満</li>
        <li class="tab-btn tab-btn1" data-tab="b">10名以上<br class="sp-br">100名未満</li>
        <li class="tab-btn tab-btn2" data-tab="c">100名以上<br class="sp-br">300名未満</li>
      </ul>

      <div class="tab-content">
       <div class="tab-cont tab-cont-a active" style="display: block;">
        <h5 style="color: #F0A40A;font-weight: bold;text-align: center;padding-bottom: 20px;">スタンダードプラン</h5>
          <div>
            <div class="price">
              <p style="margin-top: 10px;">保険料</p>
              <span class="font-tenor">18,400</span><br class="sp-br"><span class="bl">円/月<br></span>
              <p>利用料（税抜）</p>
              <span class="font-tenor">10,000</span><br class="sp-br"><span class="bl">円/月<br></span>
　　　　　</div>
            <dl class="plan-detail">
              <dt>弁護士費用の補償</dt>
              <dd>
                <ul>
                  <li style="padding-left: 20px;"><i><img src="/img/icon_check.svg" alt=""></i>法律相談料保険金：11万円/事案</li>
                  <li style="padding-left: 20px;"><i><img src="/img/icon_check.svg" alt=""></i>弁護士費用保険金：200万円/事案</li>
                </ul>
              </dd>
              <dt>法務サポート</dt>
              <dd>
                <ul>
                  <li style="padding-left: 20px;"><i><img src="/img/icon_check.svg" alt=""></i>すべて利用可能</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
        <div class="tab-cont tab-cont-b active" style="display: block;">
          <ul class="plan-list">
            <li>
              <h5>ライトプラン</h5>
              <div class="price">
               <p style="margin-top: 10px;">保険料</p>
               <span class="font-tenor">21,000</span><span class="bl">円/月<br></span>
               <p>利用料</p>
               <span class="font-tenor">15,000</span><span class="bl">円/月<br></span>
              </div>
              <dl class="plan-detail">
                <dt>法務サポート</dt>
                <dd>
                  <ul>
                    <li><i><img src="/img/icon_check.svg" alt=""></i>すべて利用可能</li>
                  </ul>
                </dd>
                <dt>弁護士費用の補償</dt>
                <dd>
                <ul>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>法律相談料保険金<br>：11万円/事案</li>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>弁護士費用保険金<br>：100万円/事案※</li>
                  <li>※弁護士費用保険金<br> （報酬金等対応分）<br>　不担保特約 付</li>
                </ul>
                </dd>
              </dl>
            </li>
            <li>
              <h5>スタンダードプラン</h5>
              <div class="price">
               <p style="margin-top: 10px;">保険料</p>
               <span class="font-tenor">43,400</span><span class="bl">円/月<br></span>
               <p>利用料</p>
               <span class="font-tenor">15,000</span><span class="bl">円/月<br></span>
              </div>
              <dl class="plan-detail">
                <dt>法務サポート</dt>
                <dd>
                  <ul>
                    <li><i><img src="/img/icon_check.svg" alt=""></i>すべて利用可能</li>
                  </ul>
                </dd>
                <dt>弁護士費用の補償</dt>
                <dd>
                <ul>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>法律相談料保険金<br>：11万円/事案</li>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>弁護士費用保険金<br>：200万円/事案</li>
                </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="tab-cont tab-cont-b active" style="display: block;">
          <ul class="plan-list">
            <li>
              <h5>ライトプラン</h5>
              <div class="price">
               <p style="margin-top: 10px;">保険料</p>
               <span class="font-tenor">25,700</span><span class="bl">円/月<br></span>
               <p>利用料（税抜）</p>
               <span class="font-tenor">20,000</span><span class="bl">円/月<br></span>
              </div>
              <dl class="plan-detail">
                <dt>法務サポート</dt>
                <dd>
                  <ul>
                    <li><i><img src="/img/icon_check.svg" alt=""></i>すべて利用可能</li>
                  </ul>
                </dd>
                <dt>弁護士費用の補償</dt>
                <dd>
                <ul>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>法律相談料保険金<br>：11万円/事案</li>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>弁護士費用保険金<br>：300万円/事案※</li>
                  <li>※弁護士費用保険金<br> （報酬金等対応分）<br>　不担保特約 付</li>
                </ul>
                </dd>
              </dl>
            </li>
            <li>
              <h5>スタンダードプラン</h5>
              <div class="price">
               <p style="margin-top: 10px;">保険料</p>
               <span class="font-tenor">52,700</span><span class="bl">円/月<br></span>
               <p>利用料</p>
               <span class="font-tenor">20,000</span><span class="bl">円/月<br></span>
              </div>
              <dl class="plan-detail">
                <dt>法務サポート</dt>
                <dd>
                  <ul>
                    <li><i><img src="/img/icon_check.svg" alt=""></i>すべて利用可能</li>
                  </ul>
                </dd>
                <dt>弁護士費用の補償</dt>
                <dd>
                <ul>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>法律相談料保険金<br>：11万円/事案</li>
                  <li><i><img src="/img/icon_check.svg" alt=""></i>弁護士費用保険金<br>：600万円/事案</li>
                </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div></div>

    <div class="plan personal">
     <h4><i><img src="/img/icon_personal.svg" alt=""></i>個人事業主の方</h4>
      <h5 style="color: #F0A40A;font-weight: bold;text-align: center;padding-bottom: 20px;">スタンダードプラン</h5>
        <div>
          <div class="price">
              <p style="margin-top: 10px;">保険料</p>
            <span class="font-tenor">10,400</span><br class="sp-br"><span class="bl">円/月<br></span>
              <p>利用料（税抜）</p>
              <span class="font-tenor">5,000</span><br class="sp-br"><span class="bl">円/月<br></span>
          </div>
          <dl class="plan-detail">
              <dt>弁護士費用の補償</dt>
              <dd>
                <ul>
                  <li style="padding-left: 20px;"><i><img src="/img/icon_check.svg" alt=""></i>法律相談料保険金：5,5万円/事案</li>
                  <li style="padding-left: 20px;"><i><img src="/img/icon_check.svg" alt=""></i>弁護士費用保険金：50万円/事案</li>
                </ul>
              </dd>
            <dt>法務サポート</dt>
            <dd>
              <ul>
                <li style="padding-left: 20px;"><i><img src="/img/icon_check.svg" alt=""></i>利用可能<br><span>（法務チャット相談除く）</span></li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>

      <div class="detail">
        <p>※ 全プラン共通で、責任開始日から6か月間は利用料無しで、法務サービスを回数無制限でご利用いただけます。</p>
        <p>※ 7か月目以降も法務サービスを回数無制限でご利用される場合のみ、上記の利用料が必要となります。</p>
        <p>※ 引受保険会社：アシロ少額短期保険</p>
      </div>
    </div>
</section>

<section id="read" class="dark-section">
  <img src="/img/img_footer_catch.svg" class="catch pc move_normal" alt="「トラブルに直面しても、実際に弁護士に相談できるのはわずか2割」この数字は、日本が抱える『二割司法』という深刻な社会課題を象徴しています。法的なトラブルの不安に煩わされることなく、新しいチャレンジを踏み出せる世界を目指したい。私たちは「サブスク法務」という新たなアプローチで、事前のリスク予防から、トラブル解決まで、これからもより利用しやすい形ですべてのサービスを提供してまいります。">
  <img src="/img/img_footer_catch_sp.svg" class="catch sp move_normal" alt="「トラブルに直面しても、実際に弁護士に相談できるのはわずか2割」この数字は、日本が抱える『二割司法』という深刻な社会課題を象徴しています。法的なトラブルの不安に煩わされることなく、新しいチャレンジを踏み出せる世界を目指したい。私たちは「サブスク法務」という新たなアプローチで、事前のリスク予防から、トラブル解決まで、これからもより利用しやすい形ですべてのサービスを提供してまいります。">
</section>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script> 
<%= javascript_include_tag "animation", "data-turbo-track": "reload", type: "module" %>
<script>
  const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

  if (isSafari) {
    window.addEventListener('load', () => {
      setTimeout(() => {
        // 強制的に最上部へ
        window.scrollTo(0, 0);

        // Safari特有の問題で2回リロードされるのを防ぐために記録
        if (!sessionStorage.getItem("safari-scroll-reset")) {
          sessionStorage.setItem("safari-scroll-reset", "true");
          location.replace(location.href); // 履歴に残らないリロード
        } else {
          sessionStorage.removeItem("safari-scroll-reset");
        }
      }, 10);
    });
  } else {
    // 他ブラウザ用の scrollRestoration
    if ("scrollRestoration" in history) {
      history.scrollRestoration = "manual";
    }

    window.addEventListener("beforeunload", () => {
      window.scrollTo(0, 0);
    });
  }
</script>
